body {
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: bold;
    font-style: italic;
    color: #96446d;
    margin: 0px;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
    margin: 0px;
}

h1 {
    color: #fcae3c ;
    text-shadow: 2px 2px 0px #001220;
}

.gift-line {
    background: #e66e50;
    height: 10px;
    margin: 40px auto 0 auto;
    width: 500px;
    border-radius: 20px;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fcae3c;
    margin: 10px;
}

#dotted-shape {
    background: #001220;
    padding: 7px 15px 5px 15px;
    border-radius: 5px;
    margin: 5px 0 15px 0;
    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-weight: 500;
    color: #fcae3c;
    border: 3px dashed #96446d;
    
}

#dotted-shape:hover {
    background: #fcae3c;
    color: #001220;
    border: 3px solid #fcae3c;
}

#bday-date {
    margin: 0;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Pangolin', cursive;
    font-style: normal;
    color: #001220;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/blob-scene-haikei.svg);
    background-size: cover;
    padding: 40px;
    margin: 0px;
}

.purple-color-div {
    padding: 5px;
    background: #96446e;
}

.blue-color-div {
    padding: 20px;
    background: #001220;
}

.teal-color-div {
    padding: 5px;
    background: #719b63;
}

.dark-color-div {
    padding: 3px;
    background: #001220;
}
.orange-color-div {
    padding: 20px;
    background: #fcae3c;
}
.orange-mini-color-div {
    padding: 3px;
    background: #e66e50;
}
.orange-medium-color-div {
    padding: 7px;
    background: #e66e50;
}
.crowd-section {
    background-image: url("images/layered-peaks-haikei.svg");
    margin-top: 0px;
    background-size: cover;
    margin-bottom: 0px;
}

.twirl-section {
    background: #96446e;
    /*background-image: url("images/layered-waves-haikei.svg");*/
    margin-top: 0px;
    background-size: cover;
    margin-bottom: 0px;
}

.gift-top {
    padding: 20px;
}

.gift-section {
    margin: 0px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-title {
    color: #001220;
    font-style: normal;
    text-transform: uppercase;
    background: #fcae3c;
    max-width: 400px;
    border-radius: 10px;
    margin: auto;
    padding: 15px 0;
}

.gift-hover {
    background: #001220;
    padding: 7px 15px 5px 15px;
    max-width: 200px;
    border-radius: 5px;
    margin: 25px auto 25px auto;
    font-family: 'Pangolin', cursive;
    font-style: normal;
    font-weight: 500;
    color: #fcae3c;
    border: 3px dashed #96446d; 
}

.gift-hover:hover {
    background: #96446d;
    color: #001220;
    border: 3px solid #96446d;
}

#gift-img-cheers {
    height: 200px;
    margin: 40px auto;
}

.gift-img {
    margin: auto;
    max-width: 400px;
    height: 400px;
    border: 3px dashed white;
    box-shadow: 0px 0px 10px #001220;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    margin-top: 40px;
}

#gift-img-crowd:hover {
    background-image: url("https://media.giphy.com/media/VJGmrt3ytSj5dcO2l8/giphy.gif");
    border: 3px solid #fcae3c;
}

#gift-img-twirl:hover {
    background-image: url("https://media.giphy.com/media/143qWPF33HtSTK/giphy.gif");
    border: 3px solid #fcae3c;
}

#gift-img-high-note:hover {
    background-image: url("https://media.giphy.com/media/3og0IDX98FMM6VkeYg/giphy.gif");
    border: 3px solid #fcae3c;
}

#gift-img-rockstar:hover {
    background-image: url("https://media.giphy.com/media/7aBE32jCr6lOhtuE9v/giphy.gif");
    border: 3px solid #fcae3c;
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/dM2xuxnJCg4H6/giphy.gif");
    border: 3px solid #fcae3c;
}

#footer {
    font-style: normal;
    width: 400px;
    margin: auto;
    font-size: 24px;
}

a {
    color: #96446e;
}

#hailey-name {
    color: white;
    text-decoration:underline;
}

#div-footer {
    background: #fcae3c;
    margin: 0px;
    padding: 40px;
    color: #001220;
}